[submodule "DIN/DeepInterestNetwork"]
	path = DIN/DeepInterestNetwork
	url = https://github.com/zhougr1993/DeepInterestNetwork.git
[submodule "PURS/PURS"]
	path = PURS/PURS
	url = https://github.com/lpworld/PURS.git
[submodule "tensorflow-DeepFM"]
	path = tensorflow-DeepFM
	url = https://github.com/ChenglongChen/tensorflow-DeepFM.git
[submodule "DeepCTR"]
	path = DeepCTR
	url = https://github.com/shenweichen/DeepCTR.git
[submodule "DeepInterestNetwork"]
	path = DeepInterestNetwork
	url = https://github.com/zhougr1993/DeepInterestNetwork.git
