[submodule "tensorflow-DeepFM"]
	path = tensorflow-DeepFM
	url = https://github.com/ChenglongChen/tensorflow-DeepFM.git
[submodule "DeepCTR"]
	path = DeepCTR
	url = https://github.com/shenweichen/DeepCTR.git
[submodule "DeepInterestNetwork"]
	path = DeepInterestNetwork
	url = https://github.com/zhougr1993/DeepInterestNetwork.git
[submodule "PURS"]
	path = PURS
	url = https://github.com/lpworld/PURS.git
[submodule "novelty/PURS"]
	path = novelty/PURS
	url = https://github.com/lpworld/PURS.git
[submodule "novelty/SLRC"]
	path = novelty/SLRC
	url = https://github.com/THUwangcy/SLRC.git
[submodule "Ad-papers"]
	path = Ad-papers
	url = https://github.com/wzhe06/Ad-papers.git
