[submodule "tensorflow-DeepFM"]
	path = tensorflow-DeepFM
	url = https://github.com/ChenglongChen/tensorflow-DeepFM.git
[submodule "DeepCTR"]
	path = DeepCTR
	url = https://github.com/shenweichen/DeepCTR.git
[submodule "DeepInterestNetwork"]
	path = DeepInterestNetwork
	url = https://github.com/zhougr1993/DeepInterestNetwork.git
[submodule "PURS"]
	path = PURS
	url = https://github.com/lpworld/PURS.git
[submodule "novelty/PURS"]
	path = novelty/PURS
	url = https://github.com/lpworld/PURS.git
[submodule "novelty/SLRC"]
	path = novelty/SLRC
	url = https://github.com/THUwangcy/SLRC.git
[submodule "Ad-papers"]
	path = Ad-papers
	url = https://github.com/wzhe06/Ad-papers.git
[submodule "DSIN"]
	path = DSIN
	url = https://github.com/shenweichen/DSIN.git
[submodule "dien"]
	path = dien
	url = git@github.com:mouna99/dien.git
[submodule "deep_ctr"]
	path = deep_ctr
	url = git@github.com:wziji/deep_ctr.git
[submodule "ATRank"]
	path = ATRank
	url = git@github.com:jinze1994/ATRank.git
[submodule "MIMN"]
	path = MIMN
	url = git@github.com:UIC-Paper/MIMN.git
[submodule "keras-mmoe"]
	path = keras-mmoe
	url = git@github.com:drawbridge/keras-mmoe.git
[submodule "product-nets"]
	path = product-nets
	url = git@github.com:Atomu2014/product-nets.git
[submodule "neural_factorization_machine"]
	path = neural_factorization_machine
	url = git@github.com:hexiangnan/neural_factorization_machine.git
[submodule "attentional_factorization_machine"]
	path = attentional_factorization_machine
	url = git@github.com:hexiangnan/attentional_factorization_machine.git
[submodule "xDeepFM"]
	path = xDeepFM
	url = git@github.com:Leavingseason/xDeepFM.git
[submodule "Deep-Learning-with-TensorFlow-book"]
	path = Deep-Learning-with-TensorFlow-book
	url = git@github.com:dragen1860/Deep-Learning-with-TensorFlow-book.git
[submodule "deeplearningbook-chinese"]
	path = deeplearningbook-chinese
	url = git@github.com:exacity/deeplearningbook-chinese.git
[submodule "DCGAN-tensorflow"]
	path = DCGAN-tensorflow
	url = git@github.com:carpedm20/DCGAN-tensorflow.git
[submodule "transformers"]
	path = transformers
	url = git@github.com:huggingface/transformers.git
[submodule "d2l-zh"]
	path = d2l-zh
	url = git@github.com:d2l-ai/d2l-zh.git
[submodule "MemNN"]
	path = MemNN
	url = git@github.com:facebook/MemNN.git
[submodule "tensor2tensor"]
	path = tensor2tensor
	url = git@github.com:tensorflow/tensor2tensor.git
[submodule "Group-Normalization-Tensorflow"]
	path = Group-Normalization-Tensorflow
	url = git@github.com:shaohua0116/Group-Normalization-Tensorflow.git
[submodule "EvoNorm"]
	path = EvoNorm
	url = git@github.com:digantamisra98/EvoNorm.git
[submodule "GRU4Rec"]
	path = GRU4Rec
	url = git@github.com:hidasib/GRU4Rec.git
